---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


### 2023
- **Garoña, A.**, Santer, M.*, Hülter, N. F., Uecker, H. &, Dagan, T. **Segregational drift hinders the evolution of antibiotic resistance on polyploid replicons.** *Plos Genetics* doi: (https://doi.org/10.1371/journal.pgen.1010829)


### 2021
-	**Garoña, A.**, Hülter, N. F., Romero-Picazo, D. &, Dagan, T. **Segregational Drift Constrains the Evolutionary Rate of Prokaryotic Plasmids.** *Molecular Biology and Evolution* doi: (https://doi.org/10.1093/molbev/msab283)

-	**Garoña, A.** & Dagan, T. **Darwinian individuality of extrachromosomal genetic elements calls for population genetics tinkering.** *Environmental Microbiology Reports* doi: (https://doi.org/10.1111/1758-2229.12894)

### 2020
-	Hülter, N. F., Wein, T., Effe, J., **Garoña, A.** & Dagan, T. **Intracellular Competitions Reveal Determinants of Plasmid Evolutionary Success.** *Frontiers in Microbiology* doi: (https://doi.org/10.3389/fmicb.2020.02062)


