---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

**Garoña, A.**, Hülter, N. F., Romero-Picazo, D. & Dagan, T. (2021). *Segregational drift constrains the evolutionary rate of prokaryotic plasmids.* **Molecular Biology and Evolution**, 38, 5610–5624.
