---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

**Garoña, A.**, Lemos, M. V., Giometto, A. & Fumasoni, M. (2026). *Experimental evolution of cellular miniaturization reveals a putative mechanism for cell size evolution.* **Proceedings of the National Academy of Sciences**, 123(24), e2531280123.

**Garoña, A.**, Hülter, N. F., Romero-Picazo, D. & Dagan, T. (2021). *Segregational drift constrains the evolutionary rate of prokaryotic plasmids.* **Molecular Biology and Evolution**, 38, 5610–5624.

### 2021
-	**Garoña, A.**, Hülter, N. F., Romero-Picazo, D. &, Dagan, T. **Segregational Drift Constrains the Evolutionary Rate of Prokaryotic Plasmids.** *Molecular Biology and Evolution* doi: (https://doi.org/10.1093/molbev/msab283)

-	**Garoña, A.** & Dagan, T. **Darwinian individuality of extrachromosomal genetic elements calls for population genetics tinkering.** *Environmental Microbiology Reports* doi: (https://doi.org/10.1111/1758-2229.12894)

### 2020
-	Hülter, N. F., Wein, T., Effe, J., **Garoña, A.** & Dagan, T. **Intracellular Competitions Reveal Determinants of Plasmid Evolutionary Success.** *Frontiers in Microbiology* doi: (https://doi.org/10.3389/fmicb.2020.02062)
